<?xml version="1.0" ?>
<robot name="cell" xmlns:xacro="https://ros.org/wiki/xacro">
 <xacro:include filename="$(find ur_description)/urdf/ur3.urdf.xacro"/>

  <link name="world"/>

  <!-- init robots -->
  <xacro:ur3_robot prefix="ur3_" joint_limited="true"/>
  <xacro:unterbau prefix="" />
  <xacro:gripper_definition prefix="" />

  <!-- Joints -->
  <joint name="world_to_UR3" type="fixed">
    <parent link="world"/>
    <child link="ur3_base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <joint name="tool0_to_gripper" type="fixed">
    <parent link="tool0" />
    <child link="gripper_frame" />
    <origin xyz="0 0 0" rpy="0 1.57 0" />
  </joint>
  
  <joint name="world_to_unterbau" type="fixed">
    <parent link="world" />
    <child link="unterbau_base"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint> 


</robot>
