<?xml version="1.0" ?>
<robot name="cell_irb120" xmlns:xacro="https://ros.org/wiki/xacro">
 <xacro:include filename="$(find cell_support)/urdf/irb120_gripper.xacro"/>
 <xacro:include filename="$(find cell_support)/urdf/unterbau.xacro" />

  <link name="world"/>

  <!-- init robots -->
  <xacro:irb120_gripper />
  <xacro:unterbau prefix=""/>

  <!-- Joints -->
  <joint name="root_to_irb120" type="fixed">
    <parent link="world" />
    <child link="irb120_base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  
  <joint name="root_to_unterbau" type="fixed">
    <parent link="world" />
    <child link="unterbau_base"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint> 

</robot>