<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="https://ros.org/wiki/xacro">
  <xacro:macro name="gripper_definition" params="prefix">

    <link name="${prefix}grasping_frame">
      <visual>
        <geometry>
          <sphere radius="0.005" />
        </geometry>
        <material name="white">
          <color rgba="1 1 1 0.5" />
        </material>
      </visual>
    </link>
    
    <link name="${prefix}gripper_body">
      <visual>
        <origin xyz="0 0 -0.005" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://cell_support/meshes/4003_Greifer_Roboter.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="">
          <color rgba="0.7372549 0.3490196 0.1607843 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 -0.005" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://cell_support/meshes/4003_Greifer_Roboter.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="yellow">
         <color rgba="1 1 0 0.3" />
        </material>
      </collision>
    </link>

    <link name="gripper_frame">
      <visual>
        <geometry>
          <sphere radius="0.005" />
        </geometry>
        <material name="white">
          <color rgba="1 1 1 0.5" />
        </material>
      </visual>
      <collision>
        <geometry>
          <sphere radius="0.005" />
        </geometry>
      </collision>
    </link>

    <joint name="body_to_frame" type="fixed">
      <parent link="gripper_frame" />
      <child link="gripper_body" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <joint name="body_to_tool" type="fixed">
      <parent link="${prefix}gripper_body" />
      <child link="${prefix}grasping_frame" />
      <origin xyz="0 0 0.155" rpy="0 0 0" />
    </joint>

  </xacro:macro>
</robot>