<?xml version="1.0" ?>
<robot xmlns:xacro="https://ros.org/wiki/xacro">
  <xacro:macro name="tx260l_gripper" >
 <xacro:include filename="$(find staubli_tx260l_support)/urdf/tx60l_macro.xacro"/>
 <xacro:include filename="$(find cell_support)/urdf/gripper_definition.xacro" />


  <!-- init -->
  <xacro:staubli_tx260l prefix="tx260l_" />
  <xacro:gripper_definition prefix="" />

  <!-- Joints -->
  <joint name="tool0_to_gripper" type="fixed">
    <parent link="tx260l_tool0" />
    <child link="gripper_frame" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

</xacro:macro>
</robot>