<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="https://ros.org/wiki/xacro">
   <xacro:macro name="unterbau" params="prefix">

      <link name="unterbau_base" />

     <link name="unterbau_body">
         <visual>
            <origin rpy="0 0 1.57" xyz="-1.075 0.023 -0.021" />
            <geometry>
               <mesh filename="package://cell_support/meshes/1000_Industrie_4_0_Demonstrator.stl" scale="0.001 0.001 0.001"/>
            </geometry>
         </visual>
         <collision>
            <origin rpy="0 0 1.57" xyz="-1.075 0.023 -0.021" />
            <geometry>
               <mesh filename="package://cell_support/meshes/Mittelteil_final_collision.stl" scale="0.001 0.001 0.001"/>
            </geometry>
         </collision>
      </link>

      <joint name="base_to_body" type="fixed">
        <parent link="unterbau_base" />
        <child link="unterbau_body" />
        <origin xyz="0 0 0" rpy="0 0 0" />
      </joint>
      
   </xacro:macro>
</robot>