<launch>
  <!-- Launch the Driver and Planning for ABB -->
  <include file="$(find cell_irb120_moveit_config)/launch/moveit_planning_execution.launch" >
    <arg name="sim" value="false" />
    <arg name="robot_ip" value="10.0.0.206" />
  </include>

  <!-- Launch the penAssembly Node -->
  <node name="penAssembly" pkg="cell_core" type="penAssembly" output="screen"  />
  
  <!-- Launch the HTTPServerNode -->
  <include file="$(find http_server)/launch/httpNode.launch" />


</launch>