<launch>
<!--  <include file="$(find abb_irb120_moveit_config)/launch/demo.launch"/>
-->  <!--include file="$(find ur3_moveit_config)/launch/demo.launch"/-->
  <include file="$(find tx90_moveit_config)/launch/demo.launch"/>
  

  <node name="cell_core_node" pkg="cell_core" type="cell_core_node" respawn="false" output="screen" >
  </node>

</launch>
